body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    width: 40em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login .titulo{
    border-bottom: 2px solid #0058A9;
    width: 100%;
    display: block;
    margin-bottom: 40px;
    font-size: 2.5em;
    text-align: center;
}

.login .credenciais {  
    text-align: center;
    width: 85%;
}

.credenciais .input {
    margin-bottom: 1.75em;
}

.login input[type=submit] {
    width: 60%;
    height: 40px;
    font-size: 1.25rem;
    background-color: #7CA9FF;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.extra {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 25px;
}