.input {
  position: relative;
}

.input input {
  padding: 10px 5px 1px 3px;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #6b6b6b;
  transition: .5s ease all;
}

.input input:focus {
  outline: none;
  border-color: white;
}

.input label {
  position: absolute;
  font-size: 1.1em;
  pointer-events: none;
  color: rgba(0, 0, 0, .25);
  transition: .2s ease all;
  left: 10px;
  top: 5px;
}

.input input:valid ~ label,
.input input:focus ~ label {
  top: -8px;
  font-size: .8em;
}

.input .barra {
  position: relative;
  display: block;
}

.input .barra:before,
.input .barra:after {
  content: "";
  height: 2px;
  width: 0;
  left: 0;
  bottom: 1px;
  position: absolute;
  background: #0058A9;
  transition: .3s ease all;
}

.input input:focus ~ .barra:before,
.input input:focus ~ .barra:after {
  width: 100%;
}